

.container {
    background-color: white;
}
.blog-header {
}
.py-3 {
}
.jumbotron {
    margin-top: 90px;
    background-image: url("images/141414141414_5bfd8_98213.jpg");
    background-size: 100% 110%;

}
.p-3 {
}
.p-md-5 {
}
.text-white {
}
.rounded {
}
.bg-dark {
}
.col-md-6 {
}
.px-0 {
}
.display-4 {
}
.font-italic {
}
.lead {
}
.my-3 {
}
.mb-0 {
}
.font-weight-bold {
}
.row {
}
.mb-2 {
}
.card {
    margin-top: 20px;
    border: none;
    border-radius: 25px;
}
/* .red{
    background: rgb(240,66,72);
    background: linear-gradient(90deg, rgba(240,66,72,1) 30%, rgba(115,227,87,1) 75%);
}
.green{
    background: rgb(240,66,72);
    background: linear-gradient(270deg, rgba(240,66,72,1) 30%, rgba(115,227,87,1) 75%);
} */
.flex-md-row {
}
.mb-4 {
}
.box-shadow {
}
.h-md-250 {
}
.card-body {

}
.d-flex {
}
.flex-column {
}
.align-items-start {
}
.d-inline-block {
}
.text-primary {
}
.text-dark {
}
.mb-1 {
}
.text-muted {
}
.card-text {
}
.mb-auto {
}
.card-img-right {
}
.flex-auto {
}
.d-none {
}
.d-md-block {
}
.text-success {
}
.col-md-8 {
}
.blog-main {
}
.pb-3 {
}
.border-bottom {
}
.blog-post {
    
}
.blog-post-title {
    
}
.blog-post-meta {
}
.blog-pagination {
}
.btn {
}
.btn-outline-primary {
}
.btn-outline-secondary {
}
.disabled {
}
.col-md-4 {
}
.blog-sidebar {
}
.mb-3 {
}
.bg-light {
}
.list-unstyled {
}
iframe{
    width: 100%;
}
.info_wrapper{
    background-color: rgb(228, 228, 228);
    padding-top: 10px;
}
.info{
    background-color: rgb(228, 228, 228);
}

.navbar-wrapper {
    width: 100vw;
    top:0px;
    position: fixed;
    z-index: 20;
    
}
.navbar-wrapper img{
   height: 40px;
}
.navbar {
    font-weight: 500;
    background-color: aqua;
    padding: 0px;
}
.my-nav{
    background-color: aqua;
}
.navbar:scope {
    font-weight: 500;
}

.navbar-expand-lg {
    background-color: none;
}
.bg-body-tertiary {
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 0.818) !important;
}
.container-fluid {
}
.navbar-brand {
    padding: 0px;
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
}
.nav-link {
    padding: 20px;
}
.nav-link:hover {
    color: white;
    background-color: rgb(131, 230, 131);
}
.nav-link.active{
    background-color: rgba(242, 241, 241, 0.574);
}
.nav-link.active:hover {
    color: black;
    background-color: rgba(242, 241, 241, 0.574);
}