body{
    background: rgb(69,120,181);
background: linear-gradient(0deg, rgba(69,120,181,1) 27%, rgba(255,255,255,1) 100%);
}

.navbar-wrapper {
    width: 100vw;
    top:0px;
    position: fixed;
    z-index: 20;
    
}
.navbar-wrapper img{
   height: 40px;
}
.navbar {
    font-weight: 500;
    background-color: aqua;
    padding: 0px;
}
.my-nav{
    background-color: aqua;
}
.navbar:scope {
    font-weight: 500;
}

.navbar-expand-lg {
    background-color: none;
}
.bg-body-tertiary {
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(255, 255, 255, 0.818) !important;
}
.container-fluid {
}
.navbar-brand {
    padding: 0px;
}
.navbar-toggler {
}
.navbar-toggler-icon {
}
.collapse {
}
.navbar-collapse {
}
.navbar-nav {
}
.nav-link {
    padding: 20px;
}
.nav-link:hover {
    color: white;
    background-color: rgb(131, 230, 131);
}
.nav-link.active{
    background-color: rgba(242, 241, 241, 0.574);
}
.nav-link.active:hover {
    color: black;
    background-color: rgba(242, 241, 241, 0.574);
}

.header{
    margin-top: 90px;
    margin-bottom: 30px;
    
}

.header p{
    color: rgb(184, 184, 184);
}


.my-margin{
    margin: auto;
    padding: 0px;
    
}

.row {
    
}
.col-md-8 {
}
.mb-4 {
    background-color: rgba(0, 0, 0, 0);
}
.my-margin {
}
.card.mb-4{
    margin-bottom: 0px;
}
.card {
    margin-bottom: 0px;
    background: rgb(69,120,181);
background: linear-gradient(180deg, rgba(69,120,181,1) 0%, rgba(255,255,255,1) 135%);
color: white;
font-size: large;
}
.card-header {
    background-color: rgb(31, 57, 88);
}
.py-3 {
}
.mb-0 {
}
.card-body {
    margin-bottom: 0px;
}
.col {
    
}
.form-outline .mb-4{
    
}
.form-control {
    
}
.form-label {
    
}
.my-4 {
}
.form-check {
}
.form-check-input {
    
}
.form-check-label {
}
.col-3 {
}
.dark-blue{
    color: rgb(31, 57, 88);
}
.btn {
    background-color: rgb(31, 57, 88);
    color: white;
    width: 100%;
    
}
.btn:hover{
    color: rgb(31, 57, 88);
    border: solid rgb(31, 57, 88) 2px;
}
.btn-primary {
}
.btn-lg {
}
.btn-block {
}

footer{
    background-color: rgb(31, 57, 88);
    color:rgb(255, 253, 253);
    padding: 20px 0px;
}

html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

  body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }